/*头部开始*/
body {
  background-color: #fff;
}
.header {
  background-color: #f4483e;
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header > a {
  display: inline-block;
  width: 50px;
  height: 44px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  line-height: 44px;
  float: left;
}
.header > span {
  font-size: 20px;
  font-weight: 500;
  line-height: 44px;
  color: #fff;
}
.header > img {
  margin: 5px 10px 0 0;
  width: 34px;
  height: 34px;
}
/*头部结束*/
/*优惠券部分开始*/
.coupon > .coupon_box {
  margin: 10px 0;
  border: 1px solid #ccc;
  text-align: center;
}
.coupon > .coupon_box > a {
  margin: 0 auto;
  display: block;
  width: 100%;
  color: #5a5a5a;
}
.coupon > .coupon_box > a > img {
  width: 50px;
  height: 50px;
}
/*优惠券部分结束*/
/*首页/优惠券部分*/
.jump {
  margin: 20px 0;
  background-color: #ebebeb;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 36px;
  padding-left: 10px;
}
.jump > a {
  font-size: 14px;
  font-family: Arial;
  line-height: 36px;
  color: #5a5a5a;
}
