body {
  background-color: #fff;
}

.axHeader {
  height: 50px;
  background-color: #ff841d;
  p {
    font-weight: 800;
    text-align: center;
    font-size: 22px;
    color: #FFF;
    font-family: "ºÚÌå";
    line-height: 50px;
    a {
      text-decoration: none;
      float: left;
      font-size: 30px;
      color: #fff;
      display: block;
      width: 50px;
    }
    span {
      height: 50px;
      width: 50px;
      display: block;
      float: right;
      background: url("../images/header_app.png") no-repeat 0px 5px;
      background-size: 40px 40px;
    }
  }
}

.axContent {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif !important;
  padding: 15px 10px;
  .content {
    .top {

      .proName {
        color: #5a5a5a;
        font-size: 18px;
        font-weight: bold;
        font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif !important;
      }
      .price {
        color: #ff6c00;
        font-size: 15px;
        font-weight: bold;
        padding-top: 3px;
      }
    }
    .form {
      color: #999999;
      font-size: 10px;
    }
    .info {
      padding-top: 10px;
      text-align: left;
      text-align-last: left;
      .img {
        width: 120px;
        float: right;
        img {
          display: block;
          width: 100%;
        }
      }
      .wordInfo {
        //padding-right: 5px;
        line-height: 25px;
        color: #606060;

      }
      .buy {
        margin: 10px 4px;
        display: block;
        color: #fff;
        font-size: 14px;
        height: 40px;
        background-color: #FF9000;
        line-height: 40px;
        border-radius: 4px;
        text-align: center;
        padding-left: 50%;
        i {
          display: inline-block;
          transform: translateX(-50%);

        }
      }
    }
  }

  .er {

    width: 100%;
    padding: 20px 0;
    img {
      width: 100%;
      display: block;

    }
  }
  .comment {
    .tit {
      font-size: 14px;
      padding: 6px 8px;
    }
    .reply {
      display: block;
      margin: 6px 0 0 0;
      .form {
        border: 2px solid #ECEAE8;
        border-radius: 2px;
        padding: 4px 0 0 4px;
        background-color: #fff;
        position: relative;
        width: 98%;
        margin: 0 auto;
        textarea {
          width: 100%;
          resize: none;
          overflow-x: hidden;
          overflow-y: auto;
          border: none;
          line-height: 22px;
          font-size: 14px;
          outline: 0;
          color: #666;
          height: 68px;
        }
      }
      .ctrl {
        position: absolute;
        right: -2px;
        bottom: -2px;
        background: #ff841d;
        border: 2px solid #ff841d;
        border-left: none;
        border-top: none;
        padding: 0px;
        width: 100px;
        height: 39px;
        color: #fff;
        outline: 0;
        border-radius: 0 0 2px 0;
        font-size: 16px;
        input {
          display: block;
          height: 100%;
          width: 100%;
          background-color: transparent;
          border: none;
        }
      }
    }
  }
  .show {
    margin-bottom: 10px;
    .s {
      margin-bottom: 3px;
      border: 1px solid #ccc;
      padding: 8px;
      p {
        padding: 10px 0 5px 0;
        font-size: 10px;
        color: #3c3c3c;
        color
        > span:first-child {
          float: left;
        }
        > span:last-child {
          float: right;
        }
      }
      > div {
        padding: 3px;
        font-size: 12px;
        color: #737373;
      }
    }
  }
  .catalogue {
    position: relative;
    height: 25px;
    padding-left: 15px;
    margin: 0 -10px;
    line-height: 25px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background-color: #f1f1f1;
    font-family: "ºÚÌå";

    > a, span {
      //display: block;
      //height: 25px;
      padding: 0 5px;
      font-size: 12px;
      color: #3c3c3c;
    }
    > a:nth-child(-n+2) {
      position:absolute;
      top: 0;
      //left: 0px;
    }
    >a:nth-child(2){
      left: 55px;
    }
    .pro {
      padding-left: 110px;
      display: block;
      height: 25px;
      width: 100%;
      overflow: hidden;

    }
  }
}
#foot .foot-top{
  margin: 0;
}
