<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">

    <title>品牌大全-慢慢买</title>
    <link rel="shortcut icon" href="favicon.ico"/>
    <!--引用第三方的样式-->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css"/>
    <!--引用样式重置文件-->
    <link rel="stylesheet" href="css/base.css"/>
    <!--引用自己的样式文件-->
    <link rel="stylesheet" href="css/brand.css"/>
</head>
<body>
<!--头部区域-->
<header id="header">
    <a href="index.html" class="logo">
        <img src="./images/header_logo.png" alt="">
    </a>
    <a href="http://m.manmanbuy.com/?o=download" class="app">
        <img src="./images/header_app.png" alt="">
    </a>
</header>
<!--搜索部分-->
<section id="search">
    <form action="">
        <input type="search" placeholder="请输入你想比价的商品"/>
        <input type="submit" value="搜索" disabled='true'/>
    </form>
</section>
<!--中间列表-->
<form class="brand-category">
    <!--头部-->
    <div class="brand-nav">
        <a href="index.html">首页</a>
        >
        <a href="brandTitle.html">品牌大全</a>
        >
    </div>
    <!--十大品牌开始-->
    <!--1.哪个品牌好-->
    <div class="goodbrand">
        <div class="b-list-title">
            <h3>平板电视哪个牌子好</h3>
        </div>

        <!--正在加载-->
        <div class="load" style="text-align: center;"></div>

        <div class="goodbrand-list">
            <ul>
                <!--<li>-->
                    <!--<a href="#" title="三星平板电视">-->
                        <!--<em>1</em>-->
                        <!--<div class="inner">-->
                            <!--<p>三星平板电视</p>-->
                            <!--<p>30天全网销量:222226件</p>-->
                        <!--</div>-->
                        <!--<span><svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'><path fill='#999999' d='M746.255255 299.653099 746.33098 299.728824 713.12674 332.933063 713.049992 332.857339 297.859875 748.048479 264.635169 714.82275 679.816077 299.642866 264.635169-115.538041 297.859875-148.762747 713.00906 266.386438 713.085808 266.30969 746.341213 299.567141Z'  transform='translate(0, 812) scale(1, -1)'/></svg></span>-->
                    <!--</a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
    <!--2.销量排行-->
    <div class="brandsales clearfix">
        <div class="b-list-title">
            <a href="javascript:;">平板电视产品销量排行</a>
        </div>

        <!--正在加载-->
        <div class="load2" style="text-align: center;"></div>

        <div class="brandsales-list">
            <ul>
                <!--<li>-->
                <!--<a href="#" title="海信(Hisense) LED55EC520UA  55英寸 超高清4K 智能网络LED液晶电视">-->
                    <!--<div class="b-l-img">-->
                        <!--<img src="images/brand-img.jpg" alt="" style="width: 100px;height: 100px;"/>-->
                    <!--</div>-->
                    <!--<div class="b-l-info">-->
                        <!--<p>海信(Hisense) LED55EC520UA  55英寸 超高清4K 智能网络LED液晶电视</p>-->
                        <!--<p>-->
                            <!--<span>￥3299.00</span>-->
                                <!--<span class="star">-->
                                    <!--<em class=star5></em>-->
                                <!--</span>-->
                        <!--</p>-->
                        <!--<p>-->
                            <!--<span>报价(9)</span>-->
                            <!--<span>全网评论(112646)</span>-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
            </ul>
        </div>
    </div>
    <!--3.评论-->
    <div class="review clearfix">
        <!--标题-->
        <div class="b-list-title">
            <a href="javascript:;">平板电视最新评论</a>
        </div>

        <!--列表-->
        <div class="review-list">
            <ul>
                <!--<li>-->
                    <!--<a href="javascript:;">-->
                        <!--<div class="review-top clearfix">-->
                            <!--<div class="r-t-img">-->
                                <!--<img src="images/review.jpg" alt=""/>-->
                            <!--</div>-->
                            <!--<div class="r-t-title">-->
                                <!--海信(Hisense) LED55EC520UA  55英寸 超高清4K 智能网络LED液晶电视-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</a>-->
                    <!--<div class="review-content">-->
                        <!--<a href="#">-->
                            <!--<div class="r-c-title">-->
                                <!--e***9:-->
                                <!--<span class="star">-->
                                <!--<em class=star5></em>-->
                                <!--</span>-->
                                <!--<i>2017/2/16</i>-->
                            <!--</div>-->
                            <!--<div class="r-c-content">-->
                                <!--昨天晚上下的单！今天下午收到的货！没等安装人员来就迫不及待自己装了～插网线看的！画面很清晰！操作也很简单！真心是不错！给飞利浦点个赞～-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</li>-->
            </ul>
        </div>

        <!--正在加载-->
        <div class="load3" style="text-align: center;"></div>
    </div>
    <!--十大品牌结束-->
</form>

<!--底部-->
<div id="foot">
    <div class="foot-top">
        <a href="javascript:;">登录</a>
        <a href="javascript:;">注册</a>
        <a class="top3" href="javascript:;">
            <img src="images/foot-arrow.jpg" alt="" class="returnTop"/>返回顶部</a>
    </div>
    <div class="footer">
        <p><a href="javascript:;" style="color:red">手机APP下载</a>
            <a href="javascript:;">慢慢买手机版</a>--掌上比价平台
        </p>
        <p>m.manmanbuy.com</p>
    </div>
</div>

<!--固定广告-->
<div class="brand-ad">
    <a class="ad-close" href="javascript:;"></a>
    <div class="ad-logo"></div>
    <p class="ad-title1">慢慢买</p>
    <p class="ad-title2">全网比价，查历史价格</p>
    <a  class="ad-open" href="http://m.manmanbuy.com/?o=download">立即打开</a>
</div>

</body>
<!--十大品牌模板-->
<!--1.哪个品牌好-->
<script type="text/html" id="brandTpl1">
    {{each result as value i}}
    <li>
        <a href="javascript:;" title="{{value.brandName}}">
            <em>{{i+1}}</em>
            <div class="inner">
                <p>{{value.brandName}}</p>
                <p>{{value.brandInfo}}</p>
            </div>
            <span><svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'><path fill='#999999' d='M746.255255 299.653099 746.33098 299.728824 713.12674 332.933063 713.049992 332.857339 297.859875 748.048479 264.635169 714.82275 679.816077 299.642866 264.635169-115.538041 297.859875-148.762747 713.00906 266.386438 713.085808 266.30969 746.341213 299.567141Z'  transform='translate(0, 812) scale(1, -1)'/></svg></span>
        </a>
    </li>
    {{/each}}
</script>

<!--2.销量排行-->
<script type="text/html" id="brandTpl2">
    {{each result as value i}}
    {{if i<4}}
    <li>
        <a href="bijiaproduct.html?productid={{value.productId}}&categoryid={{value.categoryId}}" title="{{value.productName}}">
            <div class="b-l-img">
                {{#value.productImg}}
            </div>
            <div class="b-l-info">
                <p>{{value.productName}}</p>
                <p>
                    <span>{{value.productPrice}}</span>
                                <span class="star">
                                    <em class=star{{if i%3==0}}5{{else}}4{{/if}}></em>
                                </span>
                </p>
                <p>
                    <span>{{value.productQuote}}</span>
                    <span>{{value.productCom}}</span>
                </p>
            </div>
        </a>
    </li>
    {{/if}}
    {{/each}}
</script>

<!--3.评论-->
<script type="text/html" id="brandTpl3">
    <li>
        <a href="javascript:;">
            <div class="review-top clearfix">
                <div class="r-t-img">
                    {{#productImg}}
                </div>
                <div class="r-t-title">
                    {{productName}}
                </div>
            </div>
        </a>
        <div class="review-content">
            <a href="javascript:;">
                <div class="r-c-title">
                    {{result[0].comName}}
            <span class="star">
                <em class=star{{if result[0].productId%5==0}}5{{else}}4{{/if}}></em>
            </span>
                    <i>{{result[0].comTime}}</i>
                </div>
                <div class="r-c-content">
                    {{result[0].comContent}}
                </div>
            </a>
        </div>
    </li>
</script>


<!--引用jQ-->
<script src="lib/jquery/jquery.min.js"></script>
<!--引用bootstrap.js-->
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<!--引用template.js-->
<script src="lib/template/template.js"></script>
<!--引用jquery.scrollTO.js-->
<script src="lib/jquery/jquery.scrollTo.min.js"></script>
<!--引用自己的js-->
<script src="js/brand.js"></script>
</html>